<!DOCTYPE html>
<html>
    <head>
        <title>Início</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/css.css"/>
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="col-md-3 d-flex">
                    <img src="../static/images/camera.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" data-bs-toggle="modal" data-bs-target="#meuModal">
                    <h6 class="text-body-secondary ml-3" style="margin-left: 3%">Ives Fotografias</h6>
                </div>
            </div>
        </nav>


        <main>
            <section>
                <div class="container text-center">
                    <div class="col-md-5 mx-auto classe1">
                        <h1>Ives Fotografias</h1>
                    </div>

                    <div class="col-md-10 mx-auto">
                        <p>
                            Seja bem-vindo ao nosso site!
                            Estamos muito felizes em tê-lo aqui. Este é um lugar onde a arte da fotografia encontra a conveniência da tecnologia. Oferecemos sessões de fotos personalizadas, criadas para capturar a sua essência e os momentos que são mais importantes para você.
                            Entendemos que cada pessoa é única e, por isso, nossas sessões de fotos são personalizadas para atender às suas necessidades específicas. Nossos fotógrafos profissionais estão comprometidos em capturar a sua melhor luz e criar imagens que você vai amar.
                            Além disso, sabemos que você está ansioso para ver e compartilhar suas fotos. É por isso que tornamos o processo de download das suas imagens tão simples quanto possível. Com apenas alguns cliques, você pode acessar suas fotos diretamente do nosso site e baixá-las em alta resolução.
                            Acreditamos na transparência e na confiança. Nossa equipe está sempre disponível para responder a quaisquer perguntas que você possa ter e garantir que você se sinta confortável e confiante durante todo o processo.
                            Obrigado por escolher nossos serviços. Estamos ansiosos para criar belas imagens juntos! Seja bem-vindo e aproveite a jornada fotográfica conosco!
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="container text-center d-flex">


                    <div class="col-md-8" id="filho2">
                        <h3 id="texto1">Veja algumas de nossas fotos</h3>

                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/images/carrosel1.jpg" class="d-block w-100" alt="..."  height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/images/carrosel2.jpg" class="d-block w-100" alt="..." height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/images/carrosel3.jpg" class="d-block w-100" alt="..." height="500">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-3" id="filho3">
                        <div class="card" style="width: 18rem;">
                            <img src="../static/images/estudio.jpeg" class="card-img-top" alt="Imagem de um estúdio">
                            <div class="card-body">
                                <h5 class="card-title">Entre em contato.</h5>
                                <p class="card-text">Estamos ansiosos para capturar seus momentos especiais! Entre em contato conosco para agendar sua sessão de fotos personalizada. Estamos à disposição para atendê-lo.</p>
                                <a href="https://wa.me/5511980866088?text=Olá!%20quero%20saber%20mais%20sobre%20sessões%20de%20fotos!" class="btn btn-primary"
                                   target="_blank">Converse conosco!</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section>
                <div class="container">
                    <div class="col-md-10 mx-auto text-center" id="filho4">
                        <h2>Procurando por suas fotos?</h2>
                        <p>Encontre suas fotos aqui, utilize o código informado para que possa resgatar suas fotos e fazer o download delas!</p>
                        <label class="form-label">Código</label>
                        <div class="col-md-3 mx-auto">
                            <form action="action" class="d-flex">
                                <input type="text" name="codigo" class="form-control">
                                <input type="submit" name="pesquisar" value="Baixar" class="btn btn-primary" style="margin-left: 3%">
                            </form>

                        </div>


                    </div>
                </div>
            </section>

        </main>

        <footer>
            <div class="container-fluid" id="footer1"> 
                <div class="col-md-12 d-flex align-items-center">
                    <p class="filho6" id="filho7">Entre em contato:</p> 
                    <img src="../static/images/cell.png" alt="alt" class="filho6" id="filho8"/>
                    <p class="filho6" id="filho9">(11) 11111-1111</p>

                    <p class="filho6" id="filho10">Instagram</p>
                    <a href="#" class="filho6" id="filho11"><img src="../static/images/insta.png" alt="alt"/></a>

                    <p class="filho6" id="filho12">Feito por Ives</p>
                </div>
            </div>
        </footer>

        <div class="modal" tabindex="-1" id="meuModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-10">
                            <form action="carregaFotos.html">
                                <div>
                                    <label class="form-label">Usuário</label>
                                    <input type="text" name="name" required class="form-control">
                                </div>
                                <div>
                                    <label class="form-label" style="margin-top: 3%">Senha</label>
                                    <input type="password" name="name" required class="form-control">
                                </div>
                                <div>
                                    <input type="submit" name="name" value="Entrar" class="btn btn-primary" style="margin-top: 3%">
                                </div>
                            </form>
                        </div>




                    </div>
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
